body {
    background-color: #fffaf5;
  }
 
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1350px;
    margin: auto;
    margin-top: 25px;
    padding-left: 50px;
  }
  header .logo {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  header .logo svg {
    width: 42px;
    height: 42px;
    cursor: pointer;
  }
  
  header .logo div {
    display: flex;
    flex-direction: column;
  }
  
  header .logo div h3 {
    color: #720418;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    line-height: normal;
    margin-left: -1px;
  }
  
  header .logo div .line {
    width: 127px;
    height: 2px;
    background: rgba(0, 0, 0, 0.59);
  }
  
  header .logo div p {
    color: #241400;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    margin-left: 3px;
  }
  
  header nav ul {
    gap: 21px;
  }
  
  header nav ul li {
    color: #241400;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
  }
  
  header nav ul li .home {
    color: #e16a00;
    font-weight: 700;
    border-bottom: 2px solid #e16a00;
  }
  header nav ul li a:hover {
    color: #e16a00;
    font-weight: 700;
    transition: 0.3s;
  }
  
  header .join {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  header .join svg {
    width: 28px;
    height: 28px;
    cursor: pointer;
  }
  header .join p {
    color: #241400;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
  }
  
  header .group {
    display: none;
  }
  header .elements {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(36, 20, 0, 0.9);
  }
  
  /* ! header end  */
  
  /* ? sec-1 start */
body {
    background-color: #fffaf5;
  }
  .sect-1 {
    width: 90%;
    display: flex;
    margin: auto;
    margin-left: 10%;
  }
  .aboutBook {
    width: 55%;
    margin-left: 10px;
  }
  .btnBack {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 800;
    color: white;
    background-color: rgba(225, 106, 0, 1);
    border: none;
    padding: 1% 3% 1% 2%;
    border-radius: 3px;
    margin-bottom: 6%;
  }
  .year {
    width: 8%;
    background-color: rgba(47, 128, 237, 1);
    border: none;
    /* padding: 1% 3% 1% 2%; */
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    padding: 0.5% 0 0.5% 0%;
    color: white;
    font-weight: 900;
    text-align: center;
  }
  .aboutBook h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;
  
    color: rgba(36, 20, 0, 1);
    margin: 0;
  }
  .aboutBook h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 1% 0 1% 0;
  
    color: rgba(36, 20, 0, 1);
  }
  .aboutBook span {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
  
    color: rgba(36, 20, 0, 1);
  }
  .inf-book {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 33px;
    margin: 0;
    color: rgba(36, 20, 0, 1);
  }
  .book-img {
    width: 55%;
  }
  .book-img img {
    width: 90%;
    margin-left: 1px;
    /* margin-top: 1%; */
  }
  .book-img-resp {
    display: none;
  }
  .myInput {
    width: 500px;
    height: 43px;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 8px rgba(0.5, 0.5, 0.5, 0.2);

  }
  .myInput::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-left: 20px;
    color: rgba(35, 35, 35, 1);
  }
  
  #myBtn {
    background-color: rgba(225, 106, 0, 1);
    height: 43px;
    width: 53px;
    border-radius: 5px;
    border: none;
  }
  .comments {
    width: 570px;
    height: 100%;
  }
  .comment {
    min-width: 180px;
    background-color: rgba(255, 255, 255, 1);
    min-height: 60px;
    border-radius: 6px;
    margin-bottom: 7%;
    padding: 0% 0 2% 2%;
    box-shadow: 0 4px 8px rgba(0.5, 0.5, 0.5, 0.2);

  }
  
  .comment p {
    min-width: 300px;
  }
  .comments-div {
    width: 600px;
  }
  .sect-2 {
    width: 60%;
    margin-left: 11%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .anonim-word {
    font-size: 14px;
    margin-left: 1%;
    /* padding-top: 4%; */
    margin-top: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  .span-comment {
    margin: 5%;
    font-size: 14px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  /* ?sect 4 start */
.logo-follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 0%;
    /* margin-left: 75%; */
  }
  .logo-follow h1 {
    color: #241400;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 900;
    line-height: 49.05px;
  }
  .icons {
    display: flex;
    gap: 55px;
    height: 78px;
    margin-bottom: 90px;
  }
  
  .icons img {
    cursor: pointer;
  }
  
  /* ? footer start */

footer {
    background-color: #391f00;
    padding-top: 40px;
    padding-right: 30px;
  }
  footer .all-footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
  }
  footer .all-footer .logo-footer {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  footer .all-footer svg {
    width: 68px;
    height: 68px;
  }
  footer .all-footer .texts h3 {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    line-height: normal;
    margin-left: -1px;
  }
  footer .all-footer .texts .line-footer {
    background: rgba(255, 255, 255, 0.59);
    width: 205.619px;
    height: 1px;
    margin-bottom: 3px;
    margin-top: 3px;
  }
  footer .all-footer .texts p {
    color: #fff;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    margin-left: 3px;
  }
  footer .information {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    width: 605px;
    padding-top: 20px;
  }
  
  footer .information h3 {
    font-family: Montserrat;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  footer .information p {
    color: #fff;
    font-family: Montserrat;
    font-size: 13px;
    font-family: Montserrat;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  footer .last-text {
    color: #fff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
  }
  footer .all-footer .information .footer-nav {
    display: none;
  }
  footer .last-text-2 {
    display: none;
  }
  footer .last-text-3 {
    display: none;
  }
  footer .line-2 {
    display: none;
  }
  