/* For Mobile  */

@media only screen and (max-width: 767px) {
  main .container .text-img {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 0px;
  }
  main .container .text-img p {
    display: block;
    width: 85%;
    margin: auto;
    text-align: center;
    font-size: 30px;
    line-height: 45px;
    /* margin-left: 60px; */
    margin-bottom: 150px;
    padding: 0px 10px;
    box-sizing: border-box;
  }

  main .container .text-img img {
    width: 680px;
    margin-left: 40px;
    position: absolute;
    top: 280px;
  }
  .container h1 {
    font-size: 60px;
    margin-top: 700px;
    width: 400px;
    margin-left: 180px;
  }
  .logo-follow h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .logo-follow {
    width: 700px;
    margin-left: 35px;
    margin-bottom: 50px;
  }
  body {
    width: 767px !important;
  }
  header {
    width: 767px !important;
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
  }
  header nav {
    display: none;
  }
  header .join p {
    display: none;
  }

  header .join svg {
    width: 40px;
    height: 40px;
  }
  header .logo svg {
    width: 80px;
    height: 80px;
  }
  header .logo h3 {
    font-size: 20px !important;
  }
  header .logo .line {
    width: 190px !important;
  }
  header .logo p {
    font-size: 18px !important;
  }
  header .join .group {
    display: block !important;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 20px;
  }
  header .elements {
    text-align: right;
  }
  header .elements ul li a {
    color: #f2f2f2;
    text-align: right;
    font-size: 28px;
    font-family: Montserrat;
    font-weight: 400;
    position: fixed;
    right: 20px;
    line-height: 196.187%;
  }
  header .elements ul {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  header .elements .close {
    margin-right: 20px;
    margin-top: 20px;
    width: 38px;
    height: 38px;
    margin-bottom: 70px;
  }
  header .logo .book-store {
    display: block;
  }
  footer {
    width: 767px !important;
  }
  footer .all-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .all-footer .information {
    display: block;
  }
  footer .all-footer .information h3,
  p {
    display: none;
  }
  footer .all-footer .information .footer-nav {
    display: block !important;
    margin-left: 90px;
  }
  footer .all-footer .information .footer-nav ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 12px;
  }
  footer .all-footer .information .footer-nav a {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    color: #f2f2f2ea;
  }
  footer .all-footer .logo-footer .book-store-2 {
    display: block;
    font-size: 18px;
  }
  footer .all-footer .logo-footer h3 {
    font-size: 20px;
    margin-left: 4px;
  }
  footer .last-text-2 {
    display: block !important;
    margin-left: 4%;
    color: #ffffffcb;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  footer .last-text-3 {
    display: block !important;
    margin-left: 4%;
    color: #ffffffcb;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
  }
  footer .line-2 {
    display: block !important;
    width: 440px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.59);
    margin: auto;
    margin-bottom: 10px;
    margin-left: 22%;
  }
  .resp-join-us {
    color: #f2f2f2;
    text-align: right;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 400;
    position: fixed;
    right: 20px;
    line-height: 196.187%;
    top: 437px;
  }
  .join-us-div-resp {
    width: 600px;
    height: 600px;
    background-color: white;
    margin-left: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .join-us-div-resp input {
    font-family: "Crimson Text";
    color: #797667;
    font-weight: 400;
    font-size: 30px;
    width: 462.6px;
    height: 79.232px;
    border: 1px solid #cecece;
    background: #fff;
    padding-left: 30px;
    outline: none;
    margin-bottom: 50px;
  }
  .join-us-div-resp h1 {
    font-family: Montserrat;
    text-align: center;
    font-size: 54px;
    font-weight: 700;
    color: #000;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .join-us-div-resp .innput-2 {
    display: block;
  }
  .join-us-div-resp .join-button-resp {
    display: block;
    margin: auto;
    border-radius: 5px;
    border: 1px solid #cecece;
    background: #e16a00;
    color: #fff;
    text-align: center;
    font-family: "Crimson Text";
    font-size: 30px;
    font-weight: 700;
    width: 463px;
    outline: none;
    height: 70px;
    margin-top: 20px;
    cursor: pointer;
  }
  .resp-join-us {
    background: none;
    color: #fff;
    border: none;
    font-size: 28px;
  }
}

/* For Tablet */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body{
    margin: 0;
    width: 1100px !important;
  }
  header {
    width: 1100px !important;
    margin-left: 7%;
  }

  header ul a {
    font-size: 20px;
  }
  .books-sect-1 {
    width: 1100px !important;
    margin-left: 10%;
  }
  .book-div {
    min-height: 200px !important;
    padding-bottom: 300px;
  }
  .head-sect-1 h2 {
    font-size: 25px;
  }
  .sect-1 {
    width: 100% !important;
  }
  .sect-2 {
    width: 100% !important;
  }
  .sect-3 {
    width: 100% !important;
  }
  .book-inf {
    padding-top: 10%;
    box-shadow: none;
    background-color: none !important;
  }
  .head-sect-1 ul a {
    font-size: 18px;
    justify-content: center;
  }
  .head-sect-1 {
    width: 1200px;
  }
  /* main started */

  main .container .text-img {
    display: block;
    /* margin-left: 80px; */
  }
  .container h1 {
    font-size: 60px;
    display: flex;
    align-items: center;
    padding-top: 120px;
    margin-left: 80px;
  }
  main .container .text-img p {
    display: block;
    width: 480px !important;
    /* text-align: center; */
    font-size: 30px;
    line-height: 45px;
    margin-left: 60px !important;
    margin-bottom: 150px;
    padding: 0px 0px;
  }
  main .container .text-img img {
    width: 600px;
    margin-left: 40px;
    position: absolute;
    top: 360px;
    left: 580px;
  }
  /* ?footer start */
  footer {
    margin-top: 10%;
    width: 1240px !important;
  }
  footer .all-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .all-footer .information {
    display: block;
  }
  footer .all-footer .information h3,
  p {
    display: none;
  }
  footer .all-footer .information .footer-nav {
    display: block !important;
    margin-left: 90px;
  }
  footer .all-footer .information .footer-nav ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 12px;
  }
  footer .all-footer .information .footer-nav a {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    color: #f2f2f2ea;
  }
  footer .all-footer .logo-footer .book-store-2 {
    display: block;
    font-size: 18px;
  }
  footer .all-footer .logo-footer h3 {
    font-size: 20px;
    margin-left: 4px;
  }
  footer .last-text-2 {
    display: block !important;
    margin-left: 4%;
    color: #ffffffcb;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  footer .last-text-3 {
    display: block !important;
    margin-left: 4%;
    color: #ffffffcb;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
  }
  footer .line-2 {
    display: block !important;
    width: 440px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.59);
    margin: auto;
    margin-bottom: 10px;
    margin-left: 22%;
  }
  /* ?section 4 */
  .logo-follow {
    width: 1024px;
    padding-left: 22%;
  }
}
