@media only screen and (max-width: 767px) {
    header {
      width: 757px !important;
      display: flex;
      margin-top: 20px;
      margin-left: 10px;
    }
    header nav {
      display: none;
    }
    header .join p {
      display: none;
    }
  
    header .join svg {
      width: 40px;
      height: 40px;
    }
    header .logo svg {
      width: 80px;
      height: 80px;
    }
    header .logo h3 {
      font-size: 20px !important;
    }
    header .logo .line {
      width: 190px !important;
    }
    header .logo p {
      font-size: 18px !important;
    }
    header .join .group {
      display: block !important;
      width: 40px;
      height: 40px;
      margin-right: 20px;
      margin-left: 20px;
    }
    header .elements {
      text-align: right;
    }
    header .elements ul li a {
      color: #f2f2f2;
      text-align: right;
      font-size: 22px;
      font-family: Montserrat;
      font-weight: 400;
      position: fixed;
      right: 20px;
      line-height: 196.187%;
    }
    header .elements ul {
      display: flex;
      flex-direction: column;
      gap: 60px;
    }
    header .elements .close {
      margin-right: 20px;
      margin-top: 20px;
      width: 22px;
      height: 22px;
      margin-bottom: 70px;
    }
    header .logo .book-store {
      display: block;
    }
   .join{
    margin-left: 600px;
   }
    /* ?header end */
    .sect-1{
        flex-direction: column;
        margin-top: 15%;

    }
    .book-img-resp{
        display: block;
      }
      .book-img {
        display: none;
      }
      .btnBack {
        width: 200px;
        font-size: 30px;
        border-radius: 8px;
        padding: 7% 12% 7% 18% !important;

      }
      .year {
        width: 170px;
        font-size: 30px;
        border-radius: 8px;
        padding: 7% 10% 7% 10% !important;
      }
      .aboutBook {
        margin-left: 10px;
      }
      .aboutBook h1 {
        width: 1000px !important;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
      
        color: rgba(36, 20, 0, 1);
        margin: 0;
        font-size: 80px !important;
        font-weight: 700;
        text-align: center;
      }
      .aboutBook h5 {
     display: none;
      }
      .aboutBook span {
        width: 300px;
        font-family: "Montserrat", sans-serif;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
margin: 20% 0 !important;   
      
        color: rgba(36, 20, 0, 1);
        display: none;
      }
      
      .h1-resp{
        display: block;
        font-size: 45px !important;
        font-weight: 800;
        width: 300px !important;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 300px;
      }
      .inf-book {
        display: none;
       
     }
      .inf-book-resp{
        display: block;
        margin-top: 10% !important;
        font-family: Montserrat;
        font-size: 39px;
        text-align: center;
        font-weight: 100;
        /* line-height: 33px; */
        margin: 0;
        color: rgba(36, 20, 0, 1);
        width: 800px !important;
margin-left: 80px;  

      }
      .sect-2{
        display: none;
      }
      .logo-follow {
        margin-top: 60%;
        margin-left:440px;
        padding-left: 25%;
      }
      .logo-follow h1 {
        width: 800px;
        margin-left: 15%;
        font-size: 50px;
      }
      .icons {
        justify-content: space-between;
      }
      .icons img{
         width: 110px;
      }
       /* ?footer start */
 footer {
    margin-top: 10%;
    width: 1040px !important;
  }
  footer .all-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  footer .all-footer .information {
    display: block;
  }
  footer .all-footer .information h3,
  p {
    display: none;
  }
  footer .all-footer .information .footer-nav {
    display: block !important;
    margin-left: 90px;
  }
  footer .all-footer .information .footer-nav ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 12px;
  }
  footer .all-footer .information .footer-nav a {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    color: #f2f2f2ea;
  }
  footer .all-footer .logo-footer .book-store-2 {
    display: block;
    font-size: 18px;
  }
  footer .all-footer .logo-footer h3 {
    font-size: 20px;
    margin-left: 4px;
  }
  footer .last-text-2 {
    display: block !important;
    margin-left: 4%;
    color: #ffffffcb;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  footer .last-text-3 {
    display: block !important;
    margin-left: 4%;
    color: #ffffffcb;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
  }
  footer .line-2 {
    display: block !important;
    width: 440px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.59);
    margin: auto;
    margin-bottom: 10px;
    margin-left: 22%;
  }

    }
    /* for tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    width: 1000px;
    margin-left: 7%;
  }
 
  header ul a{
    font-size: 20px;
  }

  .sect-1{
    width: 1100px;

  }
  .book-img {
    margin-top: 5%;
width: 100% !important;
  }
  .inf-book{
    width: 580px;
    display: block;
    font-size: 22px;
  }
  /* ?section 4 */
.logo-follow {
  margin-top: 10%;
  margin-left: 37%;
  padding-left: 30%;
}
.logo-follow h1 {
  width: 400px;
  margin-left: 10%;
} /* ?footer start */
footer {
 margin-top: 0%;
 width: 1240px !important;
}
footer .all-footer {
 display: flex;
 flex-direction: column;
 align-items: center;
}

footer .all-footer .information {
 display: block;
}
footer .all-footer .information h3,
p {
 display: none;
}
footer .all-footer .information .footer-nav {
 display: block !important;
 margin-left: 90px;
}
footer .all-footer .information .footer-nav ul {
 display: flex;
 flex-direction: row;
 margin: auto;
 gap: 12px;
}
footer .all-footer .information .footer-nav a {
 font-family: Montserrat;
 font-weight: 400;
 font-size: 18px;
 color: #f2f2f2ea;
}
footer .all-footer .logo-footer .book-store-2 {
 display: block;
 font-size: 18px;
}
footer .all-footer .logo-footer h3 {
 font-size: 20px;
 margin-left: 4px;
}
footer .last-text-2 {
 display: block !important;
 margin-left: 4%;
 color: #ffffffcb;
 text-align: center;
 font-family: Montserrat;
 font-size: 16px;
 font-weight: 400;
 margin-bottom: 10px;
}
footer .last-text-3 {
 display: block !important;
 margin-left: 4%;
 color: #ffffffcb;
 text-align: center;
 font-family: Montserrat;
 font-size: 16px;
 font-weight: 400;
 padding-bottom: 10px;
}
footer .line-2 {
 display: block !important;
 width: 440px;
 height: 1px;
 background-color: rgba(255, 255, 255, 0.59);
 margin: auto;
 margin-bottom: 10px;
 margin-left: 22%;
}
}