@media only screen and (max-width: 767px) {
  body {
    width: 767px !important;
  }
  header {
    width: 767px !important;
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
  }
  header nav {
    display: none;
  }
  header .join p {
    display: none;
  }

  header .join svg {
    width: 40px;
    height: 40px;
  }
  header .logo svg {
    width: 80px;
    height: 80px;
  }
  header .logo h3 {
    font-size: 20px !important;
  }
  header .logo .line {
    width: 190px !important;
  }
  header .logo p {
    font-size: 18px !important;
  }
  header .join .group {
    display: block !important;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 20px;
  }
  header .elements {
    text-align: right;
  }
  header .elements ul li a {
    color: #f2f2f2;
    text-align: right;
    font-size: 28px;
    font-family: Montserrat;
    font-weight: 400;
    position: fixed;
    right: 20px;
    line-height: 196.187%;
  }
  header .elements ul {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  header .elements .close {
    margin-right: 20px;
    margin-top: 20px;
    width: 38px;
    height: 38px;
    margin-bottom: 70px;
  }
  header .logo .book-store {
    display: block;
  }

  .sec-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .sec-1 .text-div h1 {
    font-size: 58px;
  }

  .sec-1 .text-div p {
    display: block;
    font-size: 30px;
    width: 87%;
    margin-left: 6%;
    text-align: left;
  }

  .sec-1 .img-div img:first-child {
    display: none;
  }

  .sec-1 .img-div .responsive-img {
    display: block;
    width: 600px;
    margin-top: 100px;
    margin-left: -5%;
  }

  .sec-1 .text-div button {
    font-size: 30px;
    width: 600px;
    height: 80px;
  }

  .sec-2 {
    margin-top: 180px;
  }
  .sec-2 .containers {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .sec-2 h1 {
    font-size: 50px;
  }

  .sec-2 .containers div h3 {
    width: 500px;
    height: 90px;
    font-size: 30px;
  }

  .sec-3 h1 {
    font-size: 50px;
    margin-bottom: 100px;
  }
  .sec-3 .all-texts {
    display: flex;
    flex-direction: column;
    gap: 20px !important;
    align-items: start;
    margin-left: 30px;
  }

  .sec-3 .all-texts h2 {
    font-size: 50px !important;
  }

  .sec-3 .all-texts div p {
    display: block;
    font-size: 27px;
  }

  .sec-4 h1 {
    font-size: 50px;
  }
  .sec-4 p {
    display: block;
    width: 640px;
    font-size: 27px;
  }

  .sec-5 {
    margin-top: 50px;
  }
  .sec-5 .logo-follow h1 {
    font-size: 34px;
  }
  footer {
    width: 767px !important;
  }
  footer .all-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .all-footer .information {
    display: block;
  }
  footer .all-footer .information h3,
  p {
    display: none;
  }
  footer .all-footer .information .footer-nav {
    display: block !important;
    margin-left: 90px;
  }
  footer .all-footer .information .footer-nav ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 12px;
  }
  footer .all-footer .information .footer-nav a {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    color: #f2f2f2ea;
  }
  footer .all-footer .logo-footer .book-store-2 {
    display: block;
    font-size: 18px;
  }
  footer .all-footer .logo-footer h3 {
    font-size: 20px;
    margin-left: 4px;
  }
  footer .last-text-2 {
    display: block !important;
    margin-left: 4%;
    color: #ffffffcb;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  footer .last-text-3 {
    display: block !important;
    margin-left: 4%;
    color: #ffffffcb;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
  }
  footer .line-2 {
    display: block !important;
    width: 440px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.59);
    margin: auto;
    margin-bottom: 10px;
    margin-left: 22%;
  }
  .resp-join-us {
    color: #f2f2f2;
    text-align: right;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 400;
    position: fixed;
    right: 20px;
    line-height: 196.187%;
    top: 437px;
  }
  .join-us-div-resp {
    width: 600px;
    height: 600px;
    background-color: white;
    margin-left: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .join-us-div-resp input {
    font-family: "Crimson Text";
    color: #797667;
    font-weight: 400;
    font-size: 30px;
    width: 462.6px;
    height: 79.232px;
    border: 1px solid #cecece;
    background: #fff;
    padding-left: 30px;
    outline: none;
    margin-bottom: 50px;
  }
  .join-us-div-resp h1 {
    font-family: Montserrat;
    text-align: center;
    font-size: 54px;
    font-weight: 700;
    color: #000;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .join-us-div-resp .innput-2 {
    display: block;
  }
  .join-us-div-resp .join-button-resp {
    display: block;
    margin: auto;
    border-radius: 5px;
    border: 1px solid #cecece;
    background: #e16a00;
    color: #fff;
    text-align: center;
    font-family: "Crimson Text";
    font-size: 30px;
    font-weight: 700;
    width: 463px;
    outline: none;
    height: 70px;
    margin-top: 20px;
    cursor: pointer;
  }
  .resp-join-us {
    background: none;
    color: #fff;
    border: none;
    font-size: 28px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1349px) {
  footer {
    width: 1800px !important;
    margin-left: 45%;
  }
  body {
    display: flex;
    flex-direction: column;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
  }
  main {
    margin-left: 50%;
  }
  .sec-1 {
    gap: 200px;
    text-align: left;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1072px) {
  footer {
    margin-left: 90% !important;
  }
}
@media only screen and (min-width: 944px) and (max-width: 1072px) {
  footer {
    margin-left: 60% !important;
  }
}
